h3 {
  font-family: Arial, sans-serif;
  color: rgb(15, 14, 14);
  background-color: whitesmoke;
  border-radius: 8px;
  font-size: 6rem;
  padding: 0.2em 1rem;
}


.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 120px;
}


