h3 {
  font-family: Arial, sans-serif;
  color: crimson;
  font-size: 10rem;
  padding: 0.2em 1rem;
}


.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 120px;
}


