.search-results {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центриране на заглавието и книгите в средата на контейнера */
 
}

.search-heading-container {
  width: 50%; /* Размер на контейнера с надписа */
  text-align: center; /* Центриране на текста вътре в контейнера */
  margin-bottom: 25px; /* Разстояние под заглавието */

}

.search-heading {
  color: black;
  background-color: rgb(210, 208, 208);
  font-size: 35px;
  font-weight: 700px;
  opacity: 80%;
}

.card-list {
  display: flex;
  justify-content: center; /* Центриране на картите в средата на реда */
  flex-wrap: wrap; /* Автоматично пренасяне на картите на нов ред, ако няма място */
  gap: 20px; /* Разстояние между картите */
  margin-top: 10px;
}

.card-item {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-item img {
  width: 100%; /* Увеличаване на изображението да запълни ширината на картата */
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-button {
  align-self: flex-end;
}
