.search-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
  }

.card-item {
    width: 18rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-item img {
    width: 45% !important;
    height: 200px ;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-button {
    align-self: flex-end;
  }
  
  .search-heading{
    color: black;
    background-color: white;
    font-size: 40px;
    font-weight: bold;
  }