.card-list {
  display: flex;
  flex-direction: column; /* Центрираме заглавието и книгите в колонна подредба */
  align-items: center; /* Центрираме елементите по хоризонтала */
  margin-top: 120px;
}

.latest-book-container {
  width: 50%; /* Размер на контейнера с надписа */
  text-align: center; /* Центриране на текста вътре в контейнера */
  margin-bottom: 25px; /* Разстояние под заглавието */
}

.latest-book {
  color: black;
  background-color: rgb(210, 208, 208);
  opacity: 80%;
  font-size: 35px;
  font-weight: 700px;
}

.card-items {
  display: flex;
  justify-content: center; /* Центриране на картите в средата на реда */
  flex-wrap: wrap; /* Автоматично пренасяне на картите на нов ред, ако няма място */
  gap: 60px; /* Разстояние между картите */
}

.card-item {
  width: 18rem;
  height: 30rem;
  margin-bottom: 20px;
}

.card-item img {
  width: 100%; /* Увеличаване на изображението да запълни ширината на картата */
  height: auto;
  object-fit: cover;
}
