.card-list {
  display: flex;
  flex-direction: column !important; /* Центрираме заглавието и картите в колонна подредба */
  align-items: center; /* Центрираме елементите по хоризонтала */
  margin-top: 120px;
}

.latest-book-container {
  width: 50%; /* Размер на контейнера с надписа */
  text-align: center; /* Центриране на текста вътре в контейнера */
  margin-bottom: 25px; /* Разстояние под заглавието */
}

.latest-book {
  color: black;
  background-color: rgb(210, 208, 208);
  opacity: 80%;
  font-size: 35px;
  font-weight: 700;
}

.card-items {
  display: flex;
  justify-content: center; /* Центриране на картите в средата на реда */
  flex-wrap: wrap; /* Автоматично пренасяне на картите на нов ред, ако няма място */
  gap: 60px; /* Разстояние между картите */
  margin-bottom: 20px; /* Разстояние под картите, за да се отдели от "No books yet" */
}

.card-item {
  width: 16rem !important;
  height: 24rem !important;
  margin-bottom: 20px;
}

.card-item img {
  width: 100%; 
  height: auto;
  object-fit: cover;
}

.no-books {
  margin-top: 20px; 
  font-size: 45px;
  color: gray;
  opacity: 80%;
}
