.bg-body-tertiary {
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.navbar-brand :hover {
    background-color: rgb(78, 161, 78);
    color: white;
}

.nav-link:hover {
    background-color: rgb(78, 161, 78);
    color: white;
}

.navbar-nav {
    padding-left: 120px;

}

.nav-email{
    margin: 70px;
}