.bg-body-tertiary {
    height: 75px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
}

.navbar-brand :hover {
    background-color: rgb(78, 161, 78);
    color: white;
}

.nav-link:hover {
    background-color: rgb(78, 161, 78);
    color: white;
}

.navbar-nav {
    padding-left: 120px;

}

#guest, #user{
    display: flex;
}

.nav-email{
    margin: 70px;
}

.btn-outline-success{
    width: 200px;
}